@import 'variables';
body {
  position: relative;
}
.swiper {
  &.top-swiper {
    width: 100%;
    height: 30vw;
    transition: opacity .6s ease, transform .3s ease;

    & .swiper-slide {
      //background-position: center;
      //background-size: cover;
      //perspective: 1600px;
      height: 500px;
      overflow: hidden;

      & > img {
        width: 100%;
        height: 100%;
        max-width: 100%;
        object-fit: cover;
        transform: scale(1.3);
        transition: transform 1.9s ease;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 61, 125, .1);
      }

      &-active {
        & > img {
          transform: none;
        }
      }
    }
  }

  &.detail-swiper {
    width: 100%;
    height: 100%;
  }

  & .mySwiper2 {
      height: 80%;
      width: 100%;
    }

  & .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
    & .detail-swiper__slide {
      width: 25%;
      height: 100%;
      opacity: 0.4;
    }
    & .swiper-slide-thumb-active {
      opacity: 1;
    }
  }
  & .detail-swiper__slide {
    width: 25%;
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;

    & > img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}


//.detail-swiper__slide > img {
//        display: block;
//        width: 100%;
//        height: 100%;
//        object-fit: cover;
//      }

//.swiper-slide {
//  //background-position: center;
//  //background-size: cover;
//  //perspective: 1600px;
//  height: 500px;
//  overflow: hidden;
//
//  & > img {
//    width: 100%;
//    height: 100%;
//    max-width: 100%;
//    object-fit: cover;
//    transform: scale(1.3);
//    transition: transform 1.9s ease;
//  }
//
//  &::after {
//    content: '';
//    position: absolute;
//    top: 0;
//    left: 0;
//    width: 100%;
//    height: 100%;
//    background-color: rgba(0, 61, 125, .1);
//  }
//
//  &-active {
//    & > img {
//      transform: none;
//    }
//  }
//}