@import '../modules/variables';

.genre {
  &__select {
    margin-top: 1.5rem;
    color: grey;
    &:hover {
      background-color: orange;
      color: black;
      cursor: pointer;
    }
  }
}

.order {
  &__input {
    margin-top: 1.5rem;

    & .default-select {
      color: lightgrey;
    }
  }

  & .spec-detail {
    display: none;
  }
}

.apply {
  text-align: right;
  font-size: 20px;

  & .form-check,
  .form-check-input {
    float: none;
  }

  &__destination {
    & > label {
      margin-right: 1rem;
    }
  }
}

.add-destination {
  text-align: right;
}

.requester {
  & .menu {
    font-size: 20px;
    font-weight: bold;
  }
  &__input {
    margin-top: 1.5rem;
  }

  &__title {
    font-size: 30px;
    font-weight: bold;
  }

  &__item {
    &__name {
      font-size: 25px;
      font-weight: bold;
    }
  }

  &__footer {
    text-align: right;
  }

  &__total {
    &__title {
      font-size: 20px;
    }
  }

}

.result {
  & .card{
    position: sticky;
    top: 100px;
  }
}

.confirm {

  &__content {
    & .header {
      @extend .border-bottom;
      & .title {
        font-size: 20px;
        margin-right: 2rem;
      }

      & .open {
        &:hover {
          cursor: pointer;
        }
        & .allow {
          &.selected {
            transform: rotate(180deg);
          }
        }
      }
    }

    & .main {
      max-height: 100vh;
      transition: all 1s;
      & .bottom-border {
        @extend .border-bottom;
        &:last-child {
          border-bottom: none;
          padding-bottom: 0;
        }
      }

      &.toggle {
        max-height: 0;
        opacity: 0;
      }
    }
  }

}

.info-detail {
  font-size: 20px;
  @extend .border-bottom;
  & .main {
    & .sub-title {
      font-size: 25px;
      @extend .border-bottom;
    }

    & table {
      padding: 0 2rem;

      & th {
        font-weight: normal;
        background-color: #f3f3f3;
        width: 50%;
      }

      & td {
        padding-left: 10px;
      }

      & .menu {
        color: grey;
      }
    }
  }

  & .item {
    & .title {
      font-weight: bold;
      color: orange;
      @extend .border-bottom;
    }
    &__header {
      background-color: #f3f3f3;
      font-weight: bold;
      height: 3rem;
      align-items: center;
      text-align: center;
      @extend .border-bottom;
    }

    &__content {
      @extend .border-bottom;

      & .name {
        align-items: center;

      }

      & .row {
        @extend .border-bottom;
        height: 50%;
        &:last-child {
          border: none;
        }
      }

      & .destination {
        border-left: thin solid $cBorder;
      }

      & .check {
        text-align: center;
        & .checked {
          color: green;
          text-align: left;
        }
      }
    }
  }
}

