@import '../../modules/mixin';
@import '../../modules/variables';
@import '../../modules/statusbar';
@import '../../modules/hero-slider';
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

a {
  text-decoration: none;
}

.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

.flex {
  display: flex;
  flex-direction: column;
}

.border-bottom {
  border-bottom: thin solid $cBorder;
  margin-bottom: 2rem;
}


.navigation {
  text-align: center;

  &__title {
    font-family: 'Passion One', cursive;
    font-size: 40px;
    letter-spacing: 3px;
  }

  &__text {
    margin-bottom: 1px;
  }

  &__item {
    font-weight: bold;
    width: 120px;
    height: 100px;
    padding: 2px;

    &.account-service {
      width: 150px;
    }

    & .cart-icon {
      font-size: 2.0rem;
    }

    &:hover {
      border: solid 2px white;
      cursor: pointer;
    }
  }

  &__cancel {
    font-size: 10px;
  }

  &__search {
    width: 600px;
  }
}

.select {
  @extend .content-width;
  &__card {
    color: gray;
    justify-content: space-between;
    width: 300px;
    height: 300px;
    border-radius: 5%;
    margin: 0 auto;
    position: relative;
    border: solid orange;
    & img {
      background-color: orange;
      width: 80%;
      height: 150px;
      top: 50px;
      margin: 30px 20px;
      &.quote {
        transform: rotate(15deg);
      }
    }

    & span {
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      align-items: center;
    }
    &:hover {
      cursor: pointer;
      color: orange;
      box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, .5);
    }
    &:active {
      transform: scale(0.97);
    }
  }

  &__admin {
    font-size: 30px;
  }
}

.storage {
  &__card {
    transition: all 0.3s;

    &:hover {
      cursor: pointer;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &__text {
    font-size: $fontSizeCart;
  }
}

.detail {
  &__img {
    top: 0;
    & .sub-img {
      width: 100%;
      margin-bottom: 2em;
    }

    & .main-img {
      width: 100%;
      margin: 0px -20px;
    }
  }

  &__main {
    @extend .border-bottom;
  }

  &__content {
    & .title {
      color: $cBlack;
      font-size: 40px;
      margin-bottom: 2rem;
      @extend .border-bottom;
    }

    & table {
      font-size: 20px;
      color: grey;
    }

    & .total {
      margin-bottom: 2rem;
      & .price {
        font-size: 40px;
        color: black;
      }
    }

    & .option {
      color: black;
      margin-bottom: 2rem;
      @extend .border-bottom;

      & .sub-title {
        font-weight: bold;
        font-size: 20px;
        color: black;
      }
    }

     & .spec {
      & .menu {
        text-align: left;
        font-weight: bold;
        color: black;
      }
    }

    & .base {
      margin-bottom: 2rem;
      @extend .border-bottom;
    }

    & .menu {
      font-weight: normal;
      width: 10rem;
    }

    & .price {
      color: orangered;
    }
  }

  &__info {
    @extend .border-bottom;
    font-size: 20px;
    & .title {
      font-weight: bold;
      //font-size: 20px;
      color: orange;
      margin-bottom: 1rem;
    }

    & .sub-title {
      font-size: 25px;
      @extend .border-bottom;
    }

    & table {
      font-size: 20px;
      padding: 0 2rem;
      & th {
        font-weight: normal;
        background-color: #f3f3f3;
        width: 70%;
      }

      & td {
        padding-left: 10px;
      }

      & .menu {
        color: grey;
        //font-size: 20px;
      }
    }
  }

}

.cart {
  & .bottom-border {
    @extend .border-bottom;
  }

  &__header {
    position: relative;

    & .header-price {
      font-size: $fontSizeCart;
      position: absolute;
      margin-bottom: 0;
      text-align: right;
      bottom: 0;
    }
  }

  &__title {
    font-size: 30px;
    font-width: bold;
  }

  &__image {
    width: 100%;
  }

  &__item {
    &__name {
      font-size: 25px;
      font-weight: bold;
    }

    &__location {
      font-size: $fontSizeCart;
      margin-bottom: -2px;
      color: green;
    }

    &__price {
      font-size: 20px;
      font-weight: bold;
    }

    &__quantity {
      width: 100px;
    }

    & select {
      width: 80px;
    }
  }

  &__footer {
    text-align: right;
  }

  &__total {

    &__title {
      font-size: 20px;
    }

    & p {
      margin-bottom: -2px;
      text-align: left;
    }

    &__price {
      font-size: 20px;
      font-weight: bold;
    }
  }
}

.get-data {
  &:hover {
    cursor: pointer;
    box-shadow: gray;
  }
}

.detail-img {
  width: 500px;
  height: 300px;
}

.detail-item {
  font-size: 50px;
  font-weight: bold;
}

.detail-table {
  & .spec-header {
    font-size: 25px;
    height: 70px;
  }

  & .td-spec {
    font-weight: bold;
    height: 50px;
  }

  & .down-allow {
    text-align: right;

    &:hover {
      cursor: pointer;
    }
  }
}

.card-img-cart {
  width: 350px;
  height: 270px;
}

.item-table {
  &:hover {
    cursor: pointer;
  }
}

.item-card {
  &:hover {
    cursor: pointer;
  }
}

.menu-title {
  font-size: 20px;
  font-weight: bold;
}

.approve-item {
  border-radius: 10px;

  & .schedule {
    color: forestgreen;
    font-size: 25px;
    font-weight: bold;
  }

  & .item-img {
    width: 120px;
    height: 120px;
  }

  & .item-name {
    font-size: 20px;
    font-weight: bold;
  }

  & .item-price {
    color: orangered;
    font-weight: bold;
  }
}


.approve-menu {
  @extend .border-bottom;
}

.approve-card {
  & .bottom-border {
    @extend .border-bottom;

    &:last-child {
      border-bottom: none;
    }
  }
}

.confirm-text {
  font-size: 20px;
  font-weight: bold;

  &.total-price {
    color: orangered;
  }
}

.confirm {
  background-color: lightslategrey;

  &__title {
    color: teal;
  }

  &__address {
    @extend .border-bottom;

    & .address {
      font-weight: bold;
    }
  }

  &__schedule {
    font-weight: bold;
    color: green;
  }

  &__image {
    width: 100px;
    height: 100px;
  }

  &__kitting_btn {
    width: 100%;
  }
}

.order-detail {
  &__icon {
    &.selected {
      transform: rotate(180deg);
    }
  }
}

.footer {
  margin-top: 10em;
  padding: 60px 0;
  background-color: #212529;
  font-size: 20px;
  bottom: 0;
  left: 0;
  width: 100%;

  &__nav {
    @extend .flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  &__ul {
    @extend .flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__li {
    padding: 0;
    margin: 10px;

    & > a {
      color: grey;
    }
  }
}