.genre {
  &__select {
    margin-top: 1.5rem;
    color: grey;
    &:hover {
      background-color: orange;
      color: black;
      cursor: pointer;
    }
  }
}

.order {
  &__input {
    margin-top: 1.5rem;

    & .default-select {
      color: lightgrey;
    }
  }

  & .spec-detail {
    display: none;
  }
}

.apply {
  text-align: right;
  font-size: 20px;

  & .form-check,
  .form-check-input {
    float: none;
  }

  &__destination {
    & > label {
      margin-right: 1rem;
    }
  }

}