{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% load humanize %}
{% load extras %}


{% block content %}

    <div class="container my-5">
        <div class="row mb-3">
            <h2 class="title-text">在庫リスト</h2>
        </div>
        <section class="row mt-5">
            <div class="form-group col-2">
            <label>在庫拠点：</label>
            <select title="base" name="base" class="custom-select" id="baseSelect">
                <option value="all">すべて</option>
                {% for base in base_list %}
                    <option value="{{ base.name }}">{{ base.name }}</option>
                {% endfor %}
            </select>
            </div>
            <div class="form-group col-3">
            <label>カテゴリー：</label>
            <select title="category" name="category" class="custom-select" id="categorySelect">
                <option value="all">すべて</option>
                <option value="ノートPC">ノートPC</option>
                <option value="デスクトップPC">デスクトップPC</option>
                <option value="ミニPC">ミニPC</option>
            </select>
            </div>
        </section>
        <section class="row" id="storageTable">
            <div class="storage-table">
                {% include 'stock/modules/item_list_table.html' %}
            </div>
        </section>
        <div class="row mt-5">
	        {% include 'pagination.html' %}
        </div>
    </div>


{% endblock content %}

{% block javascript %}

    <script type="text/javascript">
        {% for storageitem in storageitem_list %}
            let get_table_{{ storageitem.pk }} = document.querySelector('#table{{ storageitem.pk }}');
            get_table_{{ storageitem.pk }}.onclick = function() {
                location.href = '{% url "stock:storage_detail" storageitem.pk %}';
            }
        {% endfor %}


        $(function() {
            $('#baseSelect').change(function() {
                let val = $(this).val();
                let categorySelect = $('#categorySelect').val();
                {% for storageitem in storageitem_list %}
                    let base_{{ storageitem.pk }} = document.querySelector('#base{{ storageitem.pk }}');
                    let base_val_{{ storageitem.pk }} = base_{{ storageitem.pk }}.textContent;
                    let category{{ storageitem.pk }} = document.querySelector('#category{{ storageitem.pk }}');
                    let category_val{{ storageitem.pk }} = category{{ storageitem.pk }}.textContent;
                    if (categorySelect === category_val{{ storageitem.pk }}) {
                       if (val === base_val_{{ storageitem.pk }}) {
                            $('#table{{ storageitem.pk }}').show();
                        } else if (val === 'all') {
                            $('#table{{ storageitem.pk }}').show();
                        } else {
                            $('#table{{ storageitem.pk }}').hide();
                        }
                    } else if (categorySelect === 'all'){
                        if (val === base_val_{{ storageitem.pk }}) {
                            $('#table{{ storageitem.pk }}').show();
                        } else if (val === 'all') {
                            $('#table{{ storageitem.pk }}').show();
                        } else {
                            $('#table{{ storageitem.pk }}').hide();
                        }
                    } else {
                        $('#table{{ storageitem.pk }}').hide();
                    }
                {% endfor %}
            });
        });

        $(function() {
            $('#categorySelect').change(function() {
                let val = $(this).val();
                let baseSelect = $('#baseSelect').val();
                {% for storageitem in storageitem_list %}
                    let category{{ storageitem.pk }} = document.querySelector('#category{{ storageitem.pk }}');
                    let category_val{{ storageitem.pk }} = category{{ storageitem.pk }}.textContent;
                    let base_{{ storageitem.pk }} = document.querySelector('#base{{ storageitem.pk }}');
                    let base_val_{{ storageitem.pk }} = base_{{ storageitem.pk }}.textContent;
                    if (baseSelect === base_val_{{ storageitem.pk }}) {
                        if (val === category_val{{ storageitem.pk }}) {
                            $('#table{{ storageitem.pk }}').show();
                        } else if(val === 'all') {
                            $('#table{{ storageitem.pk }}').show();
                        }else {
                            $('#table{{ storageitem.pk }}').hide();
                        }
                    } else if (baseSelect === 'all') {
                        if (val === category_val{{ storageitem.pk }}) {
                            $('#table{{ storageitem.pk }}').show();
                        } else if(val === 'all') {
                            $('#table{{ storageitem.pk }}').show();
                        }else {
                            $('#table{{ storageitem.pk }}').hide();
                        }
                    } else {
                        $('#table{{ storageitem.pk }}').hide();
                    }
                {% endfor %}
            });
        });

    </script>

{% endblock javascript %}