<div class="row pc-category order__input">
	<label for="pcCategory" class="col-2">カテゴリー：</label>
	<div class="col-9">
		<select name="category" id="pcCategory" class="form-select"
		        aria-label="category select" required>
			<option class="default-select" selected disabled value="">---カテゴリーを選択してください---</option>
			<option value="note">ノートPC</option>
			<option value="desktop">デスクトップPC</option>
			<option value="mini">ミニPC</option>
		</select>
	</div>
</div>
<div class="row ten-key order__input">
	<span class="col-2 offset-2">テンキー：</span>
	<div class="col-5 form-check form-check-inline">
		<div class="form-check form-check-inline">
            <input type="radio" id="true" name="ten_key" class="form-check-input" value="あり">
            <label class="form-check-label" for="true">あり</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" id="false" name="ten_key" class="form-check-input" value="なし" checked>
            <label class="form-check-label" for="false">なし</label>
        </div>
	</div>
</div>
<div class="row pc-maker order__input">
	<label for="maker" class="col-2">メーカー：</label>
	<div class="col-9">
		<select name="maker" id="maker" class="form-select"
		        aria-label="maker select" required>
			<option class="default-select" selected disabled value="">---メーカーを選択してください---</option>
			<option value="none">こだわりなし</option>
			<option value="HP">HP</option>
			<option value="Lenovo">Lenovo</option>
			<option value="DELL">DELL</option>
			<option value="MicroSoft">MicroSoft</option>
		</select>
	</div>
</div>
<div class="row pc-name order__input">
	<span class="col-2">商品を指定する：</span>
	<div class="col-9">
		<div class="form-check form-check-inline">
			<input type="radio" id="nameTrue" class="form-check-input" name="pc-name" value="true">
			<label for="nameTrue" class="form-check-label">する</label>
		</div>
		<div class="form-check form-check-inline">
			<input type="radio" id="nameFalse" class="form-check-input" name="pc-name" value="false" checked>
			<label for="nameFalse" class="form-check-label">しない</label>
		</div>
	</div>
</div>
<div class="row name order__input">
    <label for="inputName" class="col-2 col-form-label">商品名：</label>
	<div class="col-9">
        <input type="text" id="inputName" name="name" class="form-control">
	</div>
</div>
<div class="row serial order__input">
    <label for="inputSerial" class="col-2 col-form-label">型番：</label>
    <div class="col-9">
        <input type="text" id="inputSerial" name="serial" class="form-control">
    </div>
</div>
<div class="row pc-spec order__input">
	<label for="spec" class="col-2">スペック：</label>
	<div class="col-9">
		<select name="spec" id="spec" class="form-select" aria-label="spec select" required>
			<option class="default-select" selected disabled value="">---スペックを選択してください---</option>
			<option value="normal">標準</option>
			<option value="plus">標準＋</option>
			<option value="high">ハイスペック</option>
		</select>
	</div>
</div>
<div class="row spec-detail">
	<div class="col-5 offset-2">
		<div class="row order__input">
			<span>※お好みのスペックに変更できます</span>
			<label for="detailCpu" class="col-auto col-form-label">CPU：</label>
			<div class="col-auto">
				<select name="cpu" id="detailCpu" class="form-select"
			        aria-label="cpu select" required>
					<option value="i3">Core i3</option>
					<option value="i5">Core i5</option>
					<option value="i7">Core i7</option>
				</select>
			</div>
		</div>
		<div class="row order__input">
			<label for="detailMemory" class="col-auto col-form-label">メモリ：</label>
			<div class="col-3">
				<input type="number" class="form-control" name="memory" id="detailMemory" required>
			</div>
			<div class="col-auto">
				<span>GB</span>
			</div>
		</div>
		<div class="row order__input">
			<label for="detailStorage" class="col-auto col-form-label">ストレージ容量：</label>
			<div class="col-3">
				<input type="number" class="form-control" name="storage" id="detailStorage" required>
			</div>
			<div class="col-auto">
				<span>GB</span>
			</div>
		</div>
		<div class="row order__input">
			<span class="col-auto">ストレージタイプ：</span>
			<span class="col-3">SSD</span>
		</div>
	</div>
</div>
<div class="row lanscope order__input">
	<span class="col-2">Lanscope：</span>
	<div class="col-9">
		<div class="form-check form-check-inline">
			<input type="radio" id="lanscope_true" class="form-check-input" name="lanscope" value="true" checked>
			<label for="lanscope_true" class="form-check-label">あり</label>
		</div>
		<div class="form-check form-check-inline">
			<input type="radio" id="lanscope_false" class="form-check-input" name="lanscope" value="false">
			<label for="lanscope_false" class="form-check-label">なし</label>
		</div>
	</div>
</div>
<div class="row office order__input">
	<label for="office" class="col-2">Office：</label>
	<div class="col-9">
		<select name="office" id="office" class="form-select" required>
			<option value="" class="default-select" selected disabled>---Officeを選択してください---</option>
			<option value="none">なし</option>
			<option value="Pro">プロ</option>
			<option value="Standard">スタンダード</option>
		</select>
	</div>
</div>

