<div class="row order__input">
    <label for="inputMaker" class="col-2 col-form-label">メーカー：</label>
    <div class="col-sm-9">
        <input type="text" id="inputMaker" name="maker" class="form-control" required>
    </div>
</div>
<div class="row order__input">
    <label for="inputName" class="col-2 col-form-label">商品名：</label>
    <div class="col-sm-9">
        <input type="text" id="inputName" name="name" class="form-control" required>
    </div>
</div>
<div class="row order__input">
    <label for="inputSpec" class="col-2 col-form-label">仕様/型番：</label>
    <div class="col-sm-9">
        <textarea id="inputSpec" name="spec" class="form-control" rows="2" placeholder="分かればご記入ください"></textarea>
    </div>
</div>