{#<div class="row order__input">#}
{#    <label for="inputCategory" class="col-2 col-form-label">機器種別</label>#}
{#    <div class="col-9">#}
{#        <input type="text" id="inputCategory" name="category" class="form-control" required>#}
{#    </div>#}
{#</div>#}
<div class="row order__input">
    <label for="inputMaker" class="col-2 col-form-label">メーカー：</label>
    <div class="col-sm-9">
        <input type="text" id="inputMaker" name="maker" class="form-control">
    </div>
</div>
<div class="row order__input">
    <label for="inputName" class="col-2 col-form-label">商品名：</label>
    <div class="col-sm-9">
        <input type="text" id="inputName" name="name" class="form-control" required>
    </div>
</div>
<div class="row order__input">
    <label for="inputSpec" class="col-2 col-form-label">仕様/構成：</label>
    <div class="col-sm-9">
        <textarea id="inputSpec" name="spec" class="form-control" rows="2"></textarea>
    </div>
</div>
