{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}

	<div class="container">
        <div class="row">
            <nav>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'stock:top' %}">ホーム</a>
                    </li>
                    <li class="breadcrumb-item">
                        カテゴリ選択
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="container mt-3">
        <div class="row page-title">
            <h2 class="title-text">カテゴリ選択</h2>
        </div>
        <section class="row col-6 mt-5 genre">
            <P>依頼したい商品を選択してください</P>
	        <a href="{% url 'quote:order' 'pc' %}" class="btn btn-block btn-outline-warning genre__select">PC</a>
	        <a href="{% url 'quote:order' 'display' %}" class="btn btn-block btn-outline-warning genre__select">モニター</a>
	        <a href="{% url 'quote:order' 'others' %}" class="btn btn-block btn-outline-warning genre__select">周辺機器</a>
	        <a href="{% url 'quote:order' 'license' %}" class="btn btn-block btn-outline-warning genre__select">ライセンス品</a>
	        <div class="genre__img"></div>
        </section>
    </div>

{% endblock content %}

{% block javascript %}

{% endblock javascript %}