{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
	<div class="row mt-3 mx-3">
        <nav>
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'stock:top' %}">ホーム</a>
                </li>
                <li class="breadcrumb-item active">
	                履歴一覧
                </li>
            </ul>
        </nav>
    </div>
	<div class="row my-5 mx-3 myOrder">
		<a href="{% url 'stock:top' %}">
			<i class="fa-solid fa-arrow-circle-left"></i>
			TOPに戻る
		</a>
		<a href="{% url 'quote:orderinfo' %}" class="my-3">
			<i class="fa-solid fa-backward"></i>
			全体表示へ
		</a>
		{% include 'quote/modules/orderinfo_list.html' %}
	</div>
{% endblock content %}