{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}

	<div class="container">
		<div class="row mt-3">
            <nav>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'stock:top' %}">ホーム</a>
                    </li>
                    <li class="breadcrumb-item">
	                    <a href="{% url 'quote:genre' %}">カテゴリ選択</a>
                    </li>
	                <li class="breadcrumb-item active">
		                見積もり情報入力
	                </li>
                </ul>
            </nav>
        </div>
		<div class="row my-5">
			<h2 class="title-text">情報入力</h2>
		</div>
		<section class="order">
			<div class="row mt-5">
				<div class="col-8">
					<h4 class="order__title">作成したい見積もり情報を入力してください</h4>
					<form action="#" method="post">
						{% csrf_token %}
						{% if genre == 'pc' %}
							{% include 'quote/modules/order_pc.html' %}
						{% elif genre == 'display'%}
							{% include 'quote/modules/order_display.html' %}
						{% elif genre == 'others' %}
							{% include 'quote/modules/order_others.html' %}
						{% elif genre == 'license' %}
							{% include 'quote/modules/order_license.html' %}
						{% endif %}
						<div class="row quantity order__input">
			                <label for="quantity" class="col-2">数量：</label>
			                <div class="col-3">
		                        <input type="number" min="1" id="quantity" name="quantity" class="form-control"
		                               placeholder="数量を入力してください" required>
			                </div>
			            </div>
						<div class="row mt-5">
			                <button type="submit" class="btn btn-block btn-warning">
			                    次へ進む
			                </button>
						</div>
						<div class="row mt-3">
							<a href="{% url 'quote:genre' %}">
								<i class="fa-solid fa-arrow-circle-left"></i>
								カテゴリ選択に戻る</a>
			            </div>
					</form>
				</div>
				<div class="col-4 order__img"></div>
			</div>
		</section>
	</div>

{% endblock content %}

{% block javascript %}
	{% if genre == 'pc'%}
		<script src="{% static 'js/quote/quote.js' %}"></script>
		<script type="text/javascript">
			new category();
		</script>
	{% endif %}
{% endblock javascript %}