@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");
.navigation {
  text-align: center;
}
.navigation__title {
  font-family: "Passion One", cursive;
  font-size: 40px;
  letter-spacing: 3px;
}
.navigation__text {
  margin-bottom: 1px;
}
.navigation__item {
  font-weight: bold;
  width: 120px;
  height: 100px;
  padding: 2px;
}
.navigation__item.account-service {
  width: 150px;
}
.navigation__item .cart-icon {
  font-size: 2rem;
}
.navigation__item:hover {
  border: solid 2px white;
  cursor: pointer;
}
.navigation__cancel {
  font-size: 10px;
}
.navigation__search {
  width: 600px;
}

.storage__card {
  transition: all 0.3s;
}
.storage__card:hover {
  cursor: pointer;
}
.storage__card:active {
  transform: scale(0.9);
}
.storage__text {
  font-size: 15px;
}

.cart .bottom-border {
  border-bottom: thin solid #dfdfdf;
}
.cart__header {
  position: relative;
}
.cart__header .header-price {
  font-size: 15px;
  position: absolute;
  margin-bottom: 0;
  text-align: right;
  bottom: 0;
}
.cart__title {
  font-size: 30px;
  font-width: bold;
}
.cart__image {
  width: 100%;
}
.cart__item__name {
  font-size: 25px;
  font-weight: bold;
}
.cart__item__location {
  font-size: 15px;
  margin-bottom: -2px;
  color: green;
}
.cart__item__price {
  font-size: 20px;
  font-weight: bold;
}
.cart__footer {
  text-align: right;
}
.cart__total__title {
  font-size: 20px;
}
.cart__total p {
  margin-bottom: -2px;
  text-align: left;
}
.cart__total__price {
  font-size: 20px;
  font-weight: bold;
}

.get-data:hover {
  cursor: pointer;
  box-shadow: gray;
}

.detail-img {
  width: 500px;
  height: 300px;
}

.detail-item {
  font-size: 50px;
  font-weight: bold;
}

.detail-table .spec-header {
  font-size: 25px;
  height: 70px;
}
.detail-table .td-spec {
  font-weight: bold;
  height: 50px;
}
.detail-table .down-allow {
  text-align: right;
}
.detail-table .down-allow:hover {
  cursor: pointer;
}

.card-img-cart {
  width: 350px;
  height: 270px;
}

.item-table:hover {
  cursor: pointer;
}

.item-card:hover {
  cursor: pointer;
}

.menu-title {
  font-size: 20px;
  font-weight: bold;
}

.approve-item {
  border-radius: 10px;
}
.approve-item .schedule {
  color: forestgreen;
  font-size: 25px;
  font-weight: bold;
}
.approve-item .item-img {
  width: 120px;
  height: 120px;
}
.approve-item .item-name {
  font-size: 20px;
  font-weight: bold;
}
.approve-item .item-price {
  color: orangered;
  font-weight: bold;
}

.approve-menu {
  border-bottom: thin solid #dfdfdf;
}

.approve-card .bottom-border {
  border-bottom: thin solid #dfdfdf;
}
.approve-card .bottom-border:last-child {
  border-bottom: none;
}

.confirm-text {
  font-size: 20px;
  font-weight: bold;
}
.confirm-text.total-price {
  color: orangered;
}

.confirm {
  background-color: lightslategrey;
}
.confirm__title {
  color: teal;
}
.confirm__address {
  border-bottom: thin solid #dfdfdf;
}
.confirm__address .address {
  font-weight: bold;
}
.confirm__schedule {
  font-weight: bold;
  color: green;
}
.confirm__image {
  width: 100px;
  height: 100px;
}
.confirm__kitting_btn {
  width: 100%;
}

.order-detail__icon.selected {
  transform: rotate(180deg);
}

/*# sourceMappingURL=stock.css.map */
