{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load humanize %}
{% load extras %}

{% block content %}

	<a href="{% url 'stock:cart' %}">
        <i class="fas fa-long-arrow-alt-left"></i>カートに戻る
    </a>
	<div class="container my-5">
		<div class="row page-title">
			<h2 class="title-text">依頼内容確認・変更画面</h2>
		</div>
		<div class="row mt-5">
			<div class="col-9">
				<div class="row approve-menu">
					<div class="col-3">
						<span class="menu-title">1 依頼者情報</span>
					</div>
					<div class="col-8">
						<p>{{ request.user.screenname }}</p>
						<p>{{ request.user.department }}</p>
					</div>
				</div>
				<div class="row approve-menu mt-2">
					<div class="col-3">
						<span class="menu-title">2 承認者情報</span>
					</div>
					{% if approve is not None%}
						<div class="col-8">
							<p>{{ approve }}</p>
							<p>部門コード：{{ approve.dept_code }}</p>
							<p>部門名：{{ approve.dept_name }}</p>
						</div>
						<div class="col-1">
							<a href="#" class="update-approve">変更</a>
						</div>
					{% else %}
						<div class="col-8">
							<a href="#" class="create-approve">登録</a>
						</div>
					{% endif %}
				</div>
				<div class="row mt-2">
					<div class="col-4">
						<span class="menu-title">3 商品とお届け情報の確認</span>
					</div>
				</div>
				<div class="row">
					{% for order_item in cart.order_item.all %}
						<div class="card mt-3 approve-item">
							<div class="card-body">
								<div class="row">
									<p class="schedule">お届け予定日：
										<span class="schedule-date{{ order_item.pk }}">
											{% if order_item.due_at is not None %}
												{{ order_item.due_at }}
											{% else %}
												お問い合わせください
											{% endif %}
										</span>
									</p>
									<div class="col-2">
										{% if order_item.storage_item.item.pc.img.name == '' %}
	                                        <img src="/media/images/no_image_logo.png" alt="noimage" class="item-img">
	                                    {% else %}
	                                        <img src="{{ order_item.storage_item.item.pc.img.url }}" alt="{{ storage_item.item.pc.name }}" class="item-img">
	                                    {% endif %}
									</div>
									<div class="col-4">
										<p class="item-name mb-1">{{ order_item.storage_item }}</p>
										<p class="item-price">￥
											<span id="itemPrice{{ order_item.pk }}">{{ order_item.pk | total_price | intcomma}}</span>
										</p>
										<p>
{#											<label for="quantity{{ order_item.pk }}">数量：</label>#}
{#											<select name="" id="quantity{{ order_item.pk }}"></select>#}
											数量：{{ order_item.quantity }}
	                                    </p>
									</div>
									<div class="col-3">
										<p class="item-name">付属品</p>
										{% for option in order_item.storage_item.option.all %}
											<p class="mb-1">{{ option }}</p>
											<p class="item-price"> ￥{{ option.price | intcomma}}</p>
										{% empty %}
											なし
										{% endfor %}
									</div>
									<div class="col-3">
										<p class="item-name">キッティングオプション</p>
										<form action="#" method="post">
											{% csrf_token %}
											{% for plan in kitting_plan %}
												<div class="form-check">
													<label for="kittingPlan{{ plan.pk }}_{{ order_item.pk }}">
														{{ plan.name }}￥{{ plan.price | intcomma }}
													</label>
													<input type="radio" class="form-check-input select-plan" id="kittingPlan{{ plan.pk }}_{{ order_item.pk }}"
													       name="kittingSelect{{ order_item.pk }}" value="{{ plan.price }}"
															{% if plan.pk == order_item.kitting_plan.pk %}
																checked
															{% endif %}>
												</div>
											{% endfor %}
										</form>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="col-3">
				<div class="card approve-card">
					<div class="card-body">
						<div class="row bottom-border">
							<button type="button" class="btn btn-warning my-3" id="confirm"
							        {% if approve is None %}disabled{% endif %}>
								注文を確定
							</button>
						</div>
						<div class="row bottom-border mb-3">
							<p><span class="confirm-text">注文内容</span>(税込み)</p>
							<p class="mb-1">
								商品の小計：
								<span class="confirm-price float-end">￥
									<span class="subtotal-price">
										{{ cart.pk | subtotal_price | intcomma }}
									</span>
								</span>
							</p>
							<p class="mb-1">
								キッティング費用：
								<span class="confirm-price float-end">￥
									<span class="total-kitting-price">{{ cart.pk | kitting_price | intcomma }}</span>
								</span>
							</p>
						</div>
						<div class="row bottom-border mb-3">
							<p class="confirm-text">
								ご請求額：
								<span class="float-end">￥
									<span class="total-price">
										{{ cart.price | intcomma }}
									</span>
								</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

{% block javascript %}

	<script type="text/javascript">
		const confirm = document.querySelector('#confirm');
		const next_url = "{% url 'stock:add_order_info' %}"
		linkClick(confirm, next_url);

		$(".create-approve").each(function () {
			$(this).modalForm({formURL: "{% url 'stock:approve_create' %}"});
		});


		{% if approve is not None %}
			$(".update-approve").each(function() {
				$(this).modalForm({formURL: "{% url 'stock:approve_update' approve.pk %}"});
			});
		{% endif %}

		const modal = document.querySelector('#modal');

		$('#modal').on('show.bs.modal', function() {
			formSubmit();
		});

        //ajax

		{% for order_item in cart.order_item.all %}
			{#let quantity_el{{ order_item.pk }} = document.querySelector('#quantity{{ order_item.pk }}');#}
            {#value = {#}
            {#    storage_item: {{ order_item.storage_item.pk }},#}
	        {#    requester: {{ order_item.requester.pk }}#}

            {#quantity(quantity_el{{ order_item.pk }}, {{ order_item.storage_item.quantity }}, {{ order_item.quantity }});#}
            {#quantityChange(quantity_el{{ order_item.pk }}, value, {{ order_item.pk }});#}

			const scheduleDate{{ order_item.pk }} = document.querySelector('.schedule-date{{ order_item.pk }}');

			{% for plan in kitting_plan %}
				let checkId{{ plan.pk }}_{{ order_item.pk }} = '#kittingPlan{{ plan.pk }}_{{ order_item.pk }}';
				let data{{ plan.pk }}_{{ order_item.pk }} = {
					storage_item: {{ order_item.storage_item.pk }},
					quantity: {{ order_item.quantity }},
					requester: {{ request.user.pk }},
					kitting_plan: {{ plan.pk }}
				}
				const radioEl{{ plan.pk }}_{{ order_item.pk }} = document.querySelector(
					checkId{{ plan.pk }}_{{ order_item.pk }}
				);
				changeRadio(
					radioEl{{ plan.pk }}_{{ order_item.pk }},
					data{{ plan.pk }}_{{ order_item.pk }},
					{{ order_item.pk }},
					scheduleDate{{ order_item.pk }},
					{{ order_item.quantity }}
				);

			{% endfor %}
		{% endfor %}

	</script>

{% endblock javascript %}