{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load humanize %}
{% load extras %}

{% block content %}

	<div class="container my-5">
		<div class="row page-title">
			<h2 class="title-text">依頼予定のPC</h2>
		</div>
		<div class="row mt-5">
			<a href="{% url 'stock:storage_list' %}">
				<i class="fas fa-long-arrow-alt-left"></i>リストに戻る
			</a>
			<div class="col-9">
				{% if storagecart is not None %}
					<div class="card">
						<div class="card-body">
							追加されました
						</div>
					</div>
				{% endif %}
				<div class="card">
					<div class="card-body cart">
						<div class="row bottom-border cart__header">
							<div class="col-11">
								<p class="cart__title">ショッピングカート</p>
							</div>
							<div class="col-1">
								<p class="header-price">価格</p>
							</div>
						</div>
						{% for order_item in storagecart.order_item.all %}
							<div class="row bottom-border mt-3 cart__item">
								<div class="col-4 text-center">
									{% if order_item.storage_item.item.pc.img.name == '' %}
										<img src="/media/images/no_image_logo.png" alt="noimage" class="cart__image">
									{% else %}
										<img src="{{ order_item.storage_item.item.pc.img.url }}"
										     alt="{{ storage_item.item.pc.name }}" class="cart__image">
									{% endif %}
								</div>
								<div class="col-6">
									<p class="cart__item__name">
										{{ order_item.storage_item.item.pc.maker }} {{ order_item.storage_item.item.pc.name }}
									</p>
									<p class="cart__item__location">
										拠点 {{ order_item.storage_item.base }} {{ order_item.storage_item.order_number }}
									</p>
									<div class="row">
										<div class="col-7 cart__item__menu">
											本体価格：￥{{ order_item.storage_item.price | intcomma }}</div>
									</div>
									<div class="row">
										<div class="col-3 cart__item__menu">付属品：</div>
										<div class="col-7">
											{% for option in order_item.storage_item.option.all %}
												<p>{{ option.name }}：￥{{ option.price | intcomma }}</p>
											{% empty %}
												<p>なし</p>
											{% endfor %}
										</div>
									</div>
									<div class="row">
										<div class="col-7 cart__item__menu">
											キッティング費用：
											￥{{ order_item.kitting_plan.price | intcomma }}（{{ order_item.kitting_plan.name }}）
										</div>

									</div>
									<div class="row">
										<div class="col-5 cart__item__menu">
											<label for="quantity{{ order_item.pk }}">数量：</label>
											<select name="" id="quantity{{ order_item.pk }}"></select>
										</div>
										<div class="col-3">
											<a href="{% url 'stock:remove_cart' order_item.pk %}">
												削除
											</a>
										</div>
									</div>


								</div>
								<div class="col-2">
									<p class="cart__item__price float-end">
										￥<span class="item-price"
										       id="itemPrice{{ order_item.pk }}">{{ order_item.price | add_tax | intcomma }}</span>
									</p>
								</div>
							</div>
						{% empty %}
							<p class="mb-3">アイテムが選択されていません</p>
						{% endfor %}
						<div class="row cart__footer">
							<span class="cart__total__title">小計({{ count }}個のアイテム) (税込み):</span>
							<span class="cart__total__price">
								￥<span class="total-price">{{ storagecart.price | intcomma }}</span>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card cart__total">
					<div class="card-body">
						<div class="row">
	                        <span class="cart__total__title">
	                            小計({{ count }}個のアイテム) (税込み)
	                        </span>
							<p>:
								<span class="cart__total__price">￥
									<span class="total-price">{{ storagecart.price | intcomma }}</span>
								</span>
							</p>
						</div>
						<div class="row">
							<button type="button" class="btn btn-sm btn-warning my-3"
							        onclick="location.href='{% url "stock:approve" %}';">
								次に進む
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

{% block javascript %}
	<script type="text/javascript">

        {% for order_item in storagecart.order_item.all %}
            let quantity_el{{ order_item.pk }} = document.querySelector('#quantity{{ order_item.pk }}');

            data = {
                storage_item: {{ order_item.storage_item.pk }},
                price: {{ order_item.price }},
                requester: {{ order_item.requester.pk }},
            }
            quantity(quantity_el{{ order_item.pk }}, {{ order_item.storage_item.quantity }}, {{ order_item.quantity }});
            quantityChange(quantity_el{{ order_item.pk }}, data, {{ order_item.pk }});
        {% endfor %}

	</script>

{% endblock javascript %}

