{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load extras %}
{% load humanize %}

{% block content %}

	<div class="container confirm my-5">
        <div class="row">
            <div class="card">
                <div class="card-body">
	                <h4 class="confirm__title">
		                <i class="fa-solid fa-circle-check"></i> 注文が確定しました。ありがとうございました。
	                </h4>
{#	                <span>確認メールが送信されます。</span>#}
	                <div class="row mt-3">
		                <div class="col-8 confirm__content">
		                    <div class="row confirm__address">
				                <p class="mb-1">
					                <span class="address">依頼者 {{ order_info.requester.screenname }}</span>
				                </p>
				                <p class="bottom-border">
					                 <span class="address">承認者 {{ order_info.approve.last_name }} {{ order_info.approve.first_name }}</span>
					                {{ order_info.approve.dept_code }}, {{ order_info.approve.dept_name }}
				                </p>
		                    </div>
		                    <div class="row mt-3">
			                {% for order_item in order_info.storage_cart.order_item.all %}
				                <div class="col-4">
					                <span class="confirm__schedule">お届け予定日 {{ order_item.due_at }}</span>
				                </div>
				                <div class="col-6">
					                {% if order_item.storage_item.item.pc.img.name == '' %}
                                        <img src="/media/images/no_image_logo.png" alt="noimage" class="confirm__image">
                                    {% else %}
                                        <img src="{{ order_item.storage_item.item.pc.img.url }}" alt="{{ storage_item.item.pc.name }}" class="confirm__image">
                                    {% endif %}
				                </div>
			                {% endfor %}
		                    </div>
		                </div>
	                    <div class="col-3 offset-1">
				            <button class="btn btn-warning confirm__kitting_btn" id="kittingTrue">キッティング依頼に進む</button>
			            </div>
	                </div>
                    <div class="row">
	                    <a href="{% url 'stock:my_order_info' %}">最近の注文を確認または編集する<i class="fa-solid fa-angle-right"></i></a>
	                    <a href="{% url 'stock:storage_list' %}"><i class="fa-solid fa-angles-left"></i>TOPに戻る</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}