{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load humanize %}
{% load extras %}

{% block content %}

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-4">
                {% if storageitem.item.pc.img.name == '' %}
                    <img src="/media/images/no_image_logo.png" alt="noimage" class="detail-img">
                {% else %}
                    <img src="{{ storageitem.item.pc.img.url }}" alt="{{ storageitem.item.pc.name }}" class="detail-img">
                {% endif %}
            </div>
            <div class="col-md-5 offset-3">
                <div class="row">
                    <h4 class="detail-item">{{ storageitem.item.pc.maker }}</h4>
                    <h4 class="detail-item">{{ storageitem.item.pc.name }}</h4>
                </div>
                <div class="row mt-3">
                    <p>在庫拠点：{{ storageitem.base.name }}</p>
                    <p>在庫数：{{ storageitem.quantity }}</p>
                    <p>本体価格：{{ storageitem.price | intcomma }}</p>
                    <p>オプション</p>
                    {% for option in storageitem.option.all %}
                        <p>{{ option.maker }} {{ option.name }} {{ option.price | intcomma}}円</p>
                    {% endfor %}
                </div>
                <div class="row mt-3">
                    <p>合計金額：{{ storageitem.total_price | intcomma }}円</p>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-9 offset-1">
                <table class="table detail-table">
                    <thead class="table-light">
                        <tr>
                            <th class="spec-header" colspan="2">スペック</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="td-spec">CPU</td>
                        <td>{{ storageitem.item.cpu }}</td>
                    </tr>
                    <tr>
                        <td class="td-spec">メモリー</td>
                        <td>{{ storageitem.item.memory }}GB</td>
                    </tr>
                    <tr>
                        <td class="td-spec">ストレージタイプ</td>
                        <td>{{ storageitem.item.storageitem.get_type_display }}</td>
                    </tr>
                    <tr>
                        <td class="td-spec">ストレージ容量</td>
                        <td>{{ storageitem.item.storageitem.size }}GB</td>
                    </tr>
                    <tr>
                        <td class="td-spec">サイズ</td>
                        <td>{{ storageitem.item.size }}インチ</td>
                    </tr>
                    <tr>
                        <td class="td-spec">webカメラ</td>
                        <td>
                            {% if storageitem.item.camera %}
                                <input type="checkbox" class="form-check-input" id="cameraCheck" aria-label="camera" checked disabled>
                            {% else %}
                                {{ storageitem.item.camera | boolean_check }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="td-spec">指紋認証</td>
                        <td>
                            {% if storageitem.item.fingerprint %}
                                <input type="checkbox" class="form-check-input" id="fingerprintCheck" aria-label="fingerprint" checked disabled>
                            {% else %}
                                {{ storageitem.item.fingerprint | boolean_check }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="td-spec">テンキー</td>
                        <td>
                            {% if storageitem.item.numpad %}
                                <input type="checkbox" class="form-check-input" id="numpadCheck" aria-label="numpad" checked disabled>
                            {% else %}
                                {{ storageitem.item.numpad | boolean_check }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="td-spec">有線LANポート</td>
                        <td>
                            {% if storageitem.item.lan %}
                                <input type="checkbox" class="form-check-input" id="lanCheck" aria-label="lan" checked disabled>
                            {% else %}
                                {{ storageitem.item.lan | boolean_check }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="td-spec">USBポート数</td>
                        <td>{{ storageitem.item.usb | boolean_check }}</td>
                    </tr>
                    <tr>
                        <td class="td-spec">HDMI</td>
                        <td>{{ storageitem.item.hdmi | boolean_check }}</td>
                    </tr>
                    <tr>
                        <td class="td-spec">VGA</td>
                        <td>{{ storageitem.item.vga | boolean_check }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-9 offset-1">
                <a href="{% url 'stock:storage_list' %}">
                    <i class="fas fa-undo-alt"></i>戻る
                </a>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascript %}
    <script type="text/javascript">

    </script>

{% endblock javascript %}